body
{
	background: #434343 url(img/bg.gif) repeat-y top;
	font-size: 17px;
	font-family: Arial, sans-serif;
	text-align:center;
	display:block;
	margin:0;
	overflow-x:hidden;
}

#mainContainer
{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
    width: 1000px;
	overflow: hidden;
	padding:10px;
	text-align:left;
	display:block;
	background-color: white;
}

#banner
{
	display:block;
	clear:both;
}
#banner img
{
	float:left;
}
#banner .contact
{
	float:right;
	margin-top:30px;
	text-align:right;
	font-family:Arial;
	font-size:14px;
}
 
#mainContainer #nav
{
	margin: 0;
    width: 100%;
	padding:10px 0px 10px 0px;
	display: block;
	background-color: dimGray;
	clear:both;
}

#mainContainer #nav a
{
	text-decoration:none;
	margin-right:3em;
	color:white;
	padding-left:10px;
}

#mainContainer #nav a:hover
{
	text-decoration:underline;
	color:red;
}

#mainContainer #mainContent
{
	width:100%;
	margin:0;
	padding:0;
	display: block;
 	float:left;
}
 
#mainContainer #mainContent div.field
{
	width:100%;
	height:auto;
	margin:5px 0 5px 10px;
	
}

#mainContainer #mainContent div.field label
{
	width:250px;
	display:inline-block
}
#mainContainer #mainContent div.field input.long
{
	width:30%;
	display:inline-block;
}
 
#mainContainer #mainContent div.row
{
	float:left;
	width:100%;
	margin:10px 0 10px 0;
	display:block;
	clear:both;
}

div.row div.cell
{
	display:block;
	border:1px solid lightGray;
	width:31%;
	float:left;
	height:320px;
	margin:4px;
	padding:5px 5px 5px 5px;
}

div.row div.box
{
	display:block;
	width:31%;
	float:left;
	height:160px;
	margin:4px;
	padding:5px 5px 5px 5px;
}

div.row div.box img
{
	display:block;
	clear:both;
}

div.row div.cell a
{
	text-decoration:none;
	color:black;
}

div.row div.cell div
{
	margin:0 0 10px 0;
	height:auto;
	overflow:hidden;
	width:100%;
	font-size:1em;
}

div.row div.cell .headText
{
	text-align:center;
	font-weight:bold;
	clear:both;
	font-family:sans-serif;
	font-size:14px;
}
 
#mainContainer #mainContent div.row img
{
	float:left;
	margin: 0px;
}

#mainContainer #mainContent .buttonBar 
{
	display:inline-block;
	margin: 20px;
	overflow:hidden;
	width:50%;
	float:left;
}
#mainContainer #mainContent .buttonBar input
{
	margin-left:auto;
	margin-right:auto;
	text-align:middle;
	float:left;
	display:inline-block;
	margin:10px;
}

a img {
    border: 0px;
}

#footer
{
	color: #444;
	background: #E9E8E3;
	width: 100%;
	clear:both;
	text-align:center;
	overflow: hidden;
	display:block;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	padding: 10px;
	margin-top:10px;
	border: 1px solid black;
}

/** shared */
h1, h3, h4
{
	margin:10px;
}
p
{
	line-height:1.5em;
	margin:10px;
}
span.clear { clear: both; display: block; }
textArea
{
	vertical-align:top;
	width:50%;
	height:100px;
}
.currentPageFont
{
 	
	font-weight:bold;
}
.note
{
	color:red;
}
.hide
{
	display:none;
}
.vanadium-invalid
{
	color:red;
	padding-left:5px;
}

textarea.vanadium-invalid
{
	color:gray;
}

.alignmiddle
{
	text-align:center;
}

.thick 
{
font-weight:bold; 
}

.alignleft
{
	text-align:left;
	 display: block;
	 clear:left;
}